<div ng-controller="StateInteractionsController">
  <div ng-repeat="interaction in stateInteractions | filterActorIs:inspectedShape">
    Change to

    <select ng-model="interaction.newState"
      angular-selectize
      angular-selectize-watch="inspectedShape.states"
      angular-selectize-options="{labelField: 'name', valueField: 'name'}"
      ng-options="state.name for state in inspectedShape.states">
    </select>

    on

    <select ng-model="interaction.trigger"
      angular-selectize
      angular-selectize-watch="interactionTriggers"
      angular-selectize-options="{labelField: 'name', valueField: 'name'}"
      ng-options="trigger.name for trigger in interactionTriggers">
    </select>

    <a href="javascript:void(0)" ng-click="deleteStateInteraction(interaction)">&times;</a>
  </div>
  <button ng-click="createStateInteraction()" class="btn btn-default">New state interaction</button>
</div>
