<div ng-controller="StateInteractionsController">
  <div ng-repeat="interaction in stateInteractions | filterActorsInclude:inspectedShape">
    Change to

    <select ng-model="interaction.newStateName"
      angular-selectize
      angular-selectize-watch="inspectedShape.states"
      angular-selectize-on-change="interaction.save()"
      ng-options="name as name for (name, details) in inspectedShape.states">
    </select>

    on

    <select ng-model="interaction.triggerVerb"
      angular-selectize
      angular-selectize-watch="stateInteractionTriggers"
      angular-selectize-options="{labelField: 'name', valueField: 'name'}"
      angular-selectize-on-change="interaction.save()"
      ng-options="trigger.name for trigger in stateInteractionTriggers">
    </select>

    <a href="javascript:void(0)" ng-click="interaction.destroy()">&times;</a>
  </div>

  <button ng-click="createStateInteraction()" class="btn btn-default">
    New state interaction
  </button>
</div>
