<div ng-include src="'views/layouts/header.html'"></div>

<div class="row">
  <div class="col-md-8">
    <div id="canvas" dr-canvas class="dnd-container" dnd-lasso-area="true">
      <div ng-repeat="rect in rectangles"
        class="selectable" 
        style="position: absolute;"
        ng-style="rect.style()"
        dnd-draggable="true"
        dnd-resizable="true"
        dnd-rect="rect.dndData"
        dnd-model-selected="rect.isSelected"
        dnd-model-selecting="rect.isSelecting"
        dnd-selectable="true"
        ng-class="{'selected': rect.isSelected, 'selecting': rect.isSelecting}"
        ng-dblclick="inspectShape(rect)"></div>
    </div>

    <button ng-click="createRect()" class="btn btn-default">Create rectangle</button>
  </div>

  <div class="col-md-4">
    <div>
      <label for="inspected-shape-name">Name</label>
      <span id="inspected-shape-name">{{inspectedShape.name}}</span>
    </div>

    <div>
      <label for="inspected-shape-top">Top</label>
      <input type="text" ng-model="inspectedShape.dndData.top" id="inspected-shape-top"/>
    </div>

    <div>
      <label for="inspected-shape-left">Left</label>
      <input type="text" ng-model="inspectedShape.dndData.left" id="inspected-shape-left"/>
    </div>

    <div>
      <label for="inspected-shape-height">Height</label>
      <input type="text" ng-model="inspectedShape.dndData.height" id="inspected-shape-height"/>
    </div>

    <div>
      <label for="inspected-shape-width">Width</label>
      <input type="text" ng-model="inspectedShape.dndData.width" id="inspected-shape-width"/>
    </div>

    <div>
      <label for="inspected-shape-fill">Fill</label>
      <input type="text" ng-model="inspectedShape.fill" id="inspected-shape-fill"/>
    </div>

    <hr>

    <div ng-repeat="interaction in interactions">
      <select ng-model="interaction.action" ng-options="action.name for action in interactionActions">
      </select>

      <select ng-model="interaction.actee" ng-options="element.name for element in interactionElements()">
      </select>

      when

      <select ng-model="interaction.trigger" ng-options="trigger.name for trigger in interactionTriggers">
      </select>

      <select ng-model="interaction.actor" ng-options="element.name for element in interactionElements()">
      </select>

      <a href="javascript:boid(0)" ng-click="deleteInteraction(interaction)">&times;</a>
    </div>
    <button ng-click="createInteraction()" class="btn btn-default">New Interaction</button>

    <hr>

    <a href="#/screens/{{screen.slug}}">Preview</a>
  </div>
</div>

<div ng-include src="'views/layouts/footer.html'"></div>
