<div ng-include src="'views/layouts/header.html'"></div>

<div class="row">
  <div class="col-md-9">
    <div id="canvas" dr-canvas class="dnd-container" dnd-lasso-area="true">
      <div ng-repeat="rect in rectangles"
        class="selectable" 
        style="position: absolute;"
        ng-style="rect.style()"
        dnd-draggable="true"
        dnd-resizable="true"
        dnd-rect="rect.dndData"
        dnd-model-selected="rect.isSelected"
        dnd-model-selecting="rect.isSelecting"
        ng-class="{'selected': rect.isSelected, 'selecting': rect.isSelecting, 'highlighted': rect.isHighlighted}"
        dr-rect
        dr-rect-shift-click="addSelectedShape(rect)"
        dr-rect-shiftless-click="selectOnlyShape(rect)"></div>
      <div ng-repeat="group in groups" class="group-outline"
        ng-style="group.style()"></div>
    </div>

    <button ng-click="createRect()" class="btn btn-default">Create rectangle</button>
  </div>

  <div class="col-md-3" ng-show="inspectedShape">
    <div>
      <label for="inspected-shape-name">Name</label>
      <span id="inspected-shape-name">{{inspectedShape.name}}</span>
    </div>

    <div>
      <label for="inspected-shape-top">Top</label>
      <input type="text" ng-model="inspectedShape.dndData.top" id="inspected-shape-top"/>
    </div>

    <div>
      <label for="inspected-shape-left">Left</label>
      <input type="text" ng-model="inspectedShape.dndData.left" id="inspected-shape-left"/>
    </div>

    <div>
      <label for="inspected-shape-height">Height</label>
      <input type="text" ng-model="inspectedShape.dndData.height" id="inspected-shape-height"/>
    </div>

    <div>
      <label for="inspected-shape-width">Width</label>
      <input type="text" ng-model="inspectedShape.dndData.width" id="inspected-shape-width"/>
    </div>

    <div>
      <label for="inspected-shape-fill">Fill</label>
      <input type="text" ng-model="inspectedShape.fill" id="inspected-shape-fill"/>
    </div>

    <hr>

    <div ng-repeat="interaction in interactions | filterActorIs:inspectedShape">
      <select ng-model="interaction.action" angular-selectize
        ng-options="action.name for action in interactionActions"
        angular-selectize-watch="interactionActions"
        angular-selectize-options="{labelField: 'name', valueField: 'name'}">
      </select>

      <select ng-model="interaction.actees" angular-selectize multiple
        angular-selectize-options="{labelField: 'name', valueField: 'name'}"
        angular-selectize-on-mouseover-item="highlightElement"
        angular-selectize-on-mouseout-item="unhighlightAll"
        angular-selectize-on-mouseover-option="highlightElement"
        angular-selectize-on-mouseout-option="unhighlightAll"
        angular-selectize-on-change="setActees"
        angular-selectize-watch="rectangles"
        ng-options="element.name for element in interactionElements()">
      </select>

      on

      <select ng-model="interaction.trigger" angular-selectize
        ng-options="trigger.name for trigger in interactionTriggers"
        angular-selectize-watch="interactionTriggers"
        angular-selectize-options="{labelField: 'name', valueField: 'name'}">
      </select>

      <a href="javascript:void(0)" ng-click="deleteInteraction(interaction)">&times;</a>
    </div>
    <button ng-click="createInteraction()" class="btn btn-default">New Interaction</button>

  </div>
  <hr>
  <a href="#/screens/{{screen.slug}}">Preview</a>
</div>

<div ng-include src="'views/layouts/footer.html'"></div>
