<div ng-include src="'views/layouts/header.html'"></div>

<ul class="screens">
  <li ng-repeat="screen in screens">
    <a ng-href="#/screens/{{screen.uid}}/edit" 
      editable-text="screen.name"
      e-placeholder="Screen name"
      buttons="no"
      e-form="screenNameForm"
      onbeforesave="screen.update({ name: $data })"
      e-required>{{screen.name}}</a>
    | 
    <a href="javascript:void(0)"
      ng-click="screenNameForm.$show()" 
      ng-hide="screenNameForm.$visible">edit</a>
    <a href="javascript:void(0)" class="delete" ng-click="destroyScreen(screen)">
      &times;
    </a>
  </li>
</ul>

<form ng-submit="createScreen(newScreen)">
  <input ng-model="newScreen.name" type="text">
  <input type="submit" value="Create">
</form>


<div ng-include src="'views/layouts/footer.html'"></div>
