<div ng-show="inspectedShape">
  <div>
    <label for="inspected-shape-name">Name</label>
    <span id="inspected-shape-name">{{inspectedShape.name}}</span>
  </div>

  <div class="form-group">
    <label>
      <span>Top: </span>
      <a editable-text="inspectedShape.dndData.top"
        e-placeholder="Top"
        onaftersave="inspectedShape.save()">
        {{inspectedShape.dndData.top}}
      </a>
    </label>
  </div>

  <div class="form-group">
    <label>
      <span>Left: </span>
      <a editable-text="inspectedShape.dndData.left"
        e-placeholder="Left"
        onaftersave="inspectedShape.save()">
        {{inspectedShape.dndData.left}}
      </a>
    </label>
  </div>

  <div class="form-group">
    <label>
      <span>Height: </span>
      <a editable-text="inspectedShape.dndData.height"
        e-placeholder="Height"
        onaftersave="inspectedShape.save()">
        {{inspectedShape.dndData.height}}
      </a>
    </label>
  </div>

  <div class="form-group">
    <label>
      <span>Width: </span>
      <a editable-text="inspectedShape.dndData.width"
        e-placeholder="Width"
        onaftersave="inspectedShape.save()">
        {{inspectedShape.dndData.width}}
      </a>
    </label>
  </div>

  <tabset>
    <tab ng-repeat="state in inspectedShapeStateNames" heading="{{state}}">
      <div class="form-group">
        <label>
          <span>Fill: </span>
          <a editable-color="inspectedShape.states[state].fill"
            e-placeholder="Fill"
            onaftersave="inspectedShape.save()">
            {{inspectedShape.states[state].fill}}
          </a>
        </label>
      </div>

      <div class="form-group">
        <label>
          <span>Stroke: </span>
          <a editable-color="inspectedShape.states[state].stroke"
            e-placeholder="Stroke"
            onaftersave="inspectedShape.save()">
            {{inspectedShape.states[state].stroke}}
          </a>
        </label>
      </div>

      <div class="form-group">
        <label>
          <span>Stroke width: </span>
          <a editable-number="inspectedShape.states[state].strokeWidth"
            e-placeholder="Stroke width"
            onaftersave="inspectedShape.save()">
            {{inspectedShape.states[state].strokeWidth}}
          </a>
        </label>
      </div>

      <div class="form-group">
        <label>
          <span>Opacity: </span>
          <a editable-number="inspectedShape.states[state].opacity"
            e-placeholder="Stroke width"
            onaftersave="inspectedShape.save()">
            {{inspectedShape.states[state].opacity}}
          </a>
        </label>
      </div>

      <div class="form-group">
        <label>
          <span>Border radius: </span>
          <a editable-number="inspectedShape.states[state].borderRadius"
            e-placeholder="Border radius"
            onaftersave="inspectedShape.save()">
            {{inspectedShape.states[state].borderRadius}}
          </a>
        </label>
      </div>
    </tab>
  </tabset>

  <hr>

  <div ng-include src="'views/interactions/elements.html'"></div>
  <div ng-include src="'views/interactions/states.html'"></div>
</div>
