<div ng-controller="InspectionPanelController" ng-show="inspectedShape">
  <div>
    <label for="inspected-shape-name">Name</label>
    <span id="inspected-shape-name">{{inspectedShape.name}}</span>
  </div>

  <div class="form-group">
    <label for="inspected-shape-top">Top</label>
    <input type="text" 
      ng-model="inspectedShape.dndData.top"
      class="form-control"
      id="inspected-shape-top">
  </div>

  <div class="form-group">
    <label for="inspected-shape-left">Left</label>
    <input type="text" 
      ng-model="inspectedShape.dndData.left" 
      class="form-control"
      id="inspected-shape-left"/>
  </div>

  <div class="form-group">
    <label for="inspected-shape-height">Height</label>
    <input type="text" 
      ng-model="inspectedShape.dndData.height" 
      class="form-control"
      id="inspected-shape-height"/>
  </div>

  <div class="form-group">
    <label for="inspected-shape-width">Width</label>
    <input type="text" 
      ng-model="inspectedShape.dndData.width"
      class="form-control"
      id="inspected-shape-width"/>
  </div>

  <tabset>
    <tab ng-repeat="state in inspectedShapeStateNames"
         heading="{{state}}">

      <div class="form-group">
        <label for="inspected-shape-states-{{state}}-fill">
          Fill
        </label>
        <input type="text" 
          ng-model="inspectedShape.states[state].fill"
          id="inspected-shape-states-{{state}}-fill" 
          class="form-control"
          ng-blur="inspectedShape.save()">
      </div>

      <div class="form-group">
        <label for="inspected-shape-states-{{state}}-stroke">
          Stroke
        </label>
        <input type="text" 
          ng-model="inspectedShape.states[state].stroke"
          id="inspected-shape-states-{{state}}-stroke" 
          class="form-control"
          ng-blur="inspectedShape.save()">
      </div>

      <div class="form-group">
        <label for="inspected-shape-states-{{state}}-opacity">
          Opacity
        </label>
        <input type="text" 
          ng-model="inspectedShape.states[state].opacity"
          id="inspected-shape-states-{{state}}-opacity" 
          class="form-control"
          ng-blur="inspectedShape.save()">
      </div>

      <div class="form-group">
        <label for="inspected-shape-states-{{state}}-stroke-width">
          Stroke width
        </label>
        <input type="text" 
          ng-model="inspectedShape.states[state].strokeWidth"
          id="inspected-shape-states-{{state}}-stroke-width" 
          class="form-control"
          ng-blur="inspectedShape.save()">
      </div>
    </tab>
  </tabset>

  <hr>

  <div ng-include src="'views/interactions/elements.html'"></div>
  <div ng-include src="'views/interactions/states.html'"></div>
</div>
